.row{
  margin-top: 20%;
  margin-bottom: 20%;
}
.jumbo{
  background-color: #3498DB!important;
  margin-right: 0!important;
  margin-left: 0!important;
  text-align: center!important;
}
.themed-container{
  box-shadow: 0 0 30px rgb(150, 138, 138);
  padding-left: 0!important;
  padding-right: 0!important;
  
}